pre {
  &,
  &[class*="language-"] {
    background-color: $black;
    border-radius: 0;
    margin: 0 2rem 2rem;
    max-height: calc(100vh - 4rem);

    &:last-child {
      margin-bottom: 0;
    }
  }
}
